---
import "@fontsource-variable/inter";
import "@fontsource/noto-sans-sc/100.css";
import "@fontsource/noto-sans-sc/300.css";
import "@fontsource/noto-sans-sc/400.css";
import "@fontsource/noto-sans-sc/700.css";
interface Props {
  title: string;
  isMd?: boolean;
}

const { title, isMd } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class={isMd ? "isMd prose" : ""}>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(var(--accent-light)) 30%, white 60%);
  }
  html {
    font-family: "Inter Variable", "Noto Sans SC", system-ui, sans-serif;
    background: rgb(var(--accent-light));
    font-weight: 500;
  }
  html.dark {
    background: rgb(var(--accent-dark));
    color: #aba8bd;
  }
  body.isMd {
    max-width: 1200px;
    margin: 0 auto;
    @apply py-10;
  }
</style>
